{% load i18n %}
{% block content %}
    <h2>
        {% trans 'School Joyrneys' %}
    </h2>
    {% comment %}
    <form name="schoolSelect">
<!--        {{ csrf_token }}-->
        <select name="school" id="school">
            <option></option>
            {% for school in schools %}
                <option value="{{ school.id }}">{{ school.name }}</option>
            {% endfor %}
        </select>
    </form>
    {% endcomment %}
    <input type="hidden" id="school" value="{{ school_id }}" />
    <table class="color_select" style="visibility: hidden;">
        <tr class="">
            <td>
                {% trans 'Visualize by amount of students walking or biking their school journeys' %}
            </td>
            <td>
                <input type="radio" name="visual_type" value="Travel Buffers Layer" checked="checked"/>
            </td>
        </tr>
        <tr class="">
            <td>
                {% trans 'Visualize on average active time spent on school journeys' %}
            </td>
            <td>
                <input type="radio" name="visual_type" value="Travel Time Buffers Layer"/>
            </td>
        </tr>
    </table>
    <div id="legendContainer" style="visibility: hidden;">
        <h3>{% trans 'Legend' %}</h3>
        <table id="legendTable" class="legend">
            <tr>
                <td class="legend_color">&nbsp;</td>
                <td class="legend_label"></td>
            </tr>
            <tr>
                <td class="legend_color">&nbsp;</td>
                <td class="legend_label"></td>
            </tr>
            <tr>
                <td class="legend_color">&nbsp;</td>
                <td class="legend_label"></td>
            </tr>
            <tr>
                <td class="legend_color">&nbsp;</td>
                <td class="legend_label"></td>
            </tr>
            <tr>
                <td class="legend_color">&nbsp;</td>
                <td class="legend_label"></td>
            </tr>
            <tr>
                <td class="legend_color">&nbsp;</td>
                <td class="legend_label"></td>
            </tr>
        </table>
    </div>
    <div>
        {% include 'next_button.html' with next="free_time" %}
    </div>
{% endblock %}
