{% extends 'base_map.html' %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jqplot/jquery.jqplot.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/softgisview.css" />
{% endblock stylesheet %}

{% block body_class %}
softgis_view base_map
{% endblock %}

{% block header %}
<div class="span_left">
    <div id="city_logo">
        <div id="city_name" class="base_textcolor" onclick="window.location = '{% url front_page %}'">

        <img alt="pehmogis" src="{{ STATIC_URL }}img/pehmogis-logo.png" height="22" width="82" />
            {% trans "Children" %}


        </div>
    </div>
</div>
<div class="span_right">
</div>
{% endblock header %}

{% block content %}
    <h2>
        {% trans 'Select School' %}
    </h2>
    <span class="error hidden" id="school_error">{% trans 'Please select school from a list' %}</span>
    <br />
    <form name="schoolSelect" id="schoolSelect_form">
<!--        {{ csrf_token }}-->
        <select name="school" id="school">
            <option></option>
            {% for school in schools %}
                <option value="{{ school.id }}">{{ school.name }}</option>
            {% endfor %}
        </select>
        <br />
        <span class="error hidden" id="error">{% trans 'Wrong password' %}</span>
        <br />
        <label for="pw">{% trans 'password' %}</label>
        <input type="password" name="pw" id="pw" />
    </form>
    <div>
        <button type="button" class="navigationButton nextButton" value="school_journey_activity">{% trans 'Start' %}</button>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://softgis.org.aalto.fi/OpenLayers212/OpenLayers.js"></script>
    <script type="text/javascript" src="{% url map_js map_slug_name='suomi' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ STATIC_URL}}js/jqplot/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL}}js/jqplot/jquery.jqplot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/jqplot/plugins/jqplot.json2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/softgisview.js"></script>
    <script type="text/javascript" src="{% url subcontent page_name='js_settings' file_type='js' %}"></script>
{% comment %}
    <script type="text/javascript">
        var feat_data = {% include 'clean_feat_data.json' %};
    </script>
{% endcomment %}
    <script type="text/javascript" src="{% url api_javascript %}?lib=jquery"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            create_map('map', init_teacher); 
         });
    </script>
{% endblock javascript %}
