{% extends 'base_page.html' %}
{% load i18n %}

{% block css_extra %}
    <link href="https://fonts.googleapis.com/css?family=Glegoo|Signika+Negative:300,400|Bitter|Radley|Enriqueta|Ruda" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/softgisview.css" />
{% endblock css_extra %}

{% block body_class %}
softgis_view base_page base_map
{% endblock %}

{% block header %}
<div class="span_left">
    <div id="city_logo">
        <div id="city_name" class="base_textcolor" onclick="window.location = '{% url front_page %}'">

        <img alt="pehmogis" src="{{ STATIC_URL }}img/pehmogis-logo.png" height="22" width="82" />
            {% trans "Children" %}


        </div>
    </div>
</div>
<div class="span_right">
</div>
{% endblock header %}

{% block main %}
<div class="span_left">
    <div id="content">
        {% block content %}
        <table class="summary">
            <tr><!-- name=time_to_school and name=time_from_school -->
                <td>{% trans 'Time spent walking or cycling on school yourney' %}</td>
                <td class="bold" id="school_travel"></td>
                <td>{% trans 'minutes' %}</td>
            </tr>
            <tr><!-- name=exercise -->
                <td>{% trans 'Time spent exercising or playing in free time' %}</td>
                <td class="bold" id="exercise"></td>
                <td>{% trans 'hours' %}</td>
            </tr>
            <tr><!-- name=tv_computer and name=sos_network -->
                <td>{% trans 'Time spent watching TV' %}</td>
                <td class="bold" id="tv"></td>
                <td>{% trans 'hours' %}</td>
            </tr>
        </table>
        {% endblock %}
    </div>
</div>
<div class="span_right">
    <div id="map">
        {% block map %}
        {% endblock %}
    </div>
</div>
{% endblock main %}
{% block javascript %}
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
<!--    <script type="text/javascript" src="{% url map_js map_slug_name='suomi' %}"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/softgisview.js"></script>
    <script type="text/javascript">
        var prof_data = {% include 'clean_prof_data.json' %};
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            create_diagram();
         });
    </script>
{% endblock javascript %}
