.softgis_view {
    background: #2B9C40;
}
.softgis_view .base_textcolor {
    color: #2B9C40;
}

#content {
    margin-left: 30px;
}

#content table {
    margin: 5px 0;
}

.select_table td {
    text-align: center;
}

.select_table input {
    vertical-align: middle;
}

.select_table tr td:first-child {
    text-align: left;
}
.select_table .social {
    color: #F99F23;
}
.select_table .doing {
    color: #6CCFF5;
}
.select_table .feel {
    color: #8B2A90;
}
.legend {
    font-size: 0.7em;
    border-collapse: separate;
    border-spacing: 2px;
}
.legend td {
    border: none;
    width: auto;
}

.legend tr td:first-child {
    border: 1px solid black;
    width: 40px;
    opacity: 0.7;
    filter: Alpha(opacity=70);
}

.legend th {
    text-align: left;
}

.legend_walk {
    background-color: #1B9E77;
}
.legend_public {
    background-color: #D95F02;
}
.legend_car {
    background-color: #7570B3;
}
.legend_moped {
    background-color: #E7298A;
}
.legend_alone {
    background-color: #FBB4AE;
}
.legend_friends {
    background-color: #B3CDE3;
}
.legend_adults {
    background-color: #CCEBC5;
}

.bold {
    font-weight: bold;
}

.nextButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 6em;
}

.prevButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 6em;
}

.nextButton:first-child {
    margin-left: 50%;
}
select#school {
    width: 100%;
}

div#time_use_chart {
    width: 340px;
    height: 200px;
}

#screen_time_chart_1, #screen_time_chart_2, #screen_time_chart_3, #screen_time_chart_4 {
    width: 160px;
    height: 200px;
}

#screen_time_chart_1, #screen_time_chart_3 {
    float: left;
}

#screen_time_chart_2, #screen_time_chart_4 {
    float: right;
}

#charts {
    margin-top: 50px;
}

table.jqplot-table-legend {
    top: -75px !important;
    right: auto !important;
    left: -30px;
}

div.jqplot-pie-series.jqplot-data-label {
    font-size: 0.9em;
}

.symbol_square {
    color: #F99F23;
    display: inline-block;
    width: 25px;
    opacity: 0.7;
    filter: Alpha(opacity=70);
}

.symbol_triangle {
    color: #6CCFF5;
    display: inline-block;
    width: 25px;
    opacity: 0.7;
    filter: Alpha(opacity=70);
}

.symbol_circle {
    color: #8B2A90;
    display: inline-block;
    width: 25px;
    opacity: 0.7;
    filter: Alpha(opacity=70);
}
